
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 125%;
}

body {
    background-color: #eeeeee;
}

.upper_bar {
    background-color: #006699;
    display: flex;
    height: 30px;
    justify-content: space-around;
}

.main_column {
    background-color: white;
    margin: auto;
    width: 86%;
}

.header_page {
    border-bottom: 1px solid #D7D7D7;
}
