
body {
    background-color: #eeeeee;
}


h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
}


p {
    font-family: 'Muli', sans-serif;
    font-size: 125%;
}

h4 {
    cursor: pointer;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
    text-shadow: -2px -2px 1px #000;
}

button {
    border: 0;
    background-color: #006699;
    color: white;
    font-weight: bold;
    margin-bottom: 2px;
}

img {
    width: 70%;
    margin: 9% 0 10% 3%;
}

.sort_by_div {
    width: 100px;
}

.navigation_bar {
    background-color: #006699;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-left: -1%;
}

.item1 {
    margin-top: 2px;
}

.menu_item {
    font-family: 'Allerta Stencil', sans-serif;
    cursor: pointer;
}

.top_tracks_heading {
    font-weight: bold;
    margin-top: 40px;
}

.upper_bar {
    padding-left: 2%;
}

.main_column {
    background-color: white;
    margin: auto;
    width: 86%;
}

.header_page {
    border-bottom: 1px solid #D7D7D7;
}

.song_box {
    border-bottom: 1px solid #D7D7D7;
}

.image_box {
    text-align: center;
}

.track_position {
    margin-top: 5%;
    margin-left: 10%;
}

.song_info {
    margin-left: 10%;
}


.go_top {
    border-radius: 100%;
    display:none;
    padding:1%;
    background:#024959;
    font-size:185%;
    color:white;
    cursor:pointer;
    position: fixed;
    bottom:1%;
    right:1%;
}
